<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    .mainwin {
      /* from: https://cssgradient.io/
       */
      background: rgb(14,36,51);
      background: linear-gradient(90deg, rgba(14,36,51,1) 0%, rgba(9,87,121,1) 85%);
    }

    .bgtransparent {
      opacity: 0.4;
    }

    h1 {
      color: blue;
    }

    p {
      color: red;
    }

  </style>
  <!--
    <v-main style="background: Coral" class="">
  -->
</head>

<body>
  <div id="app">
    <v-app>
      <v-main class="mainwin">
        <v-container class="white--text">{{pageTitle}}</v-container>
        
        <!--
        <v-container>
          <v-btn v-on:click="myMethod" color="teal darken-4">Play</v-btn>
        </v-container> -->

        <!--
        <iframe width="640" height="360" 
          src="https://www.youtube.com/embed/XXYlFuWEuKI?autoplay=1"
          allow="autoplay">
        </iframe> -->

        <div id="ytplayer"></div>

        <v-container>
          <!--
          <v-list class="bgtransparent" two-line> -->
          <v-list class="overflow-y-auto bgtransparent" max-height="350">
            <v-list-item-group
              active-class="blue--text"
            >
              <template v-for="(item, index) in playlist.items">
                <v-list-item :key="item.message" @click="onSelectSong(item)">
                  <template v-slot:default="{ active }">
                    <v-list-item-content>
                      <v-list-item-title v-text="item.title"></v-list-item-title>
      
                      <v-list-item-subtitle
                        class="text--primary"
                        v-text="item.headline"
                      ></v-list-item-subtitle>
      
                      <v-list-item-subtitle v-text="item.interpret"></v-list-item-subtitle>
                    </v-list-item-content>
      
                    <v-list-item-action>
                      <v-list-item-action-text v-text="item.action"></v-list-item-action-text>
                    </v-list-item-action>
                  </template>
                </v-list-item>
      
                <v-divider
                  v-if="index < playlist.items.length - 1"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-container>

      </v-main>
    </v-app>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>

    var player;
    var actualVideoId;

    function calculateRatioHeight(width){ return Math.round((width/16)*9); }

    function onYouTubePlayerAPIReady() {

      var ytPlayerWidth = window.screen.width;
      var ytPlayerHeight = calculateRatioHeight(ytPlayerWidth)

      console.log("set ytPlayer.width to " + ytPlayerWidth)
      console.log("set ytPlayer.height to " + ytPlayerHeight)

      player = new YT.Player('ytplayer', {
        /* old: 
            height: '360',
            width: '640',

            height: '240',
            width: '426',
        */
        height: ytPlayerHeight,
        width: ytPlayerWidth,
        /* videoId: 'XXYlFuWEuKI', */
        events: {
          'onReady': onYouTubePlayerReady,
        },
        playerVars: {
          // emulate 'autoplay' with events 'onReady'
          autoplay: 1,
          playsinline: 1,
          rel: 0,
          showinfo: 0,
          modestbranding: 1,
          controls: 1,
          loop: 1,
          mute: 0,
        }
      }); 
    }

    function onYouTubePlayerReady(event) {
      //event.target.mute()
      event.target.playVideo()
    }

    new Vue({
      data: { 
        pageTitle: 'JukeBOX-v0.0.20',
        playlist: {
          items: [

            { title: 'Black Hole', interpret: 'Griff', id: 'B2SK_jb68dk' },
            { title: 'Save Your Tears', interpret: 'The Weeknd', id: 'XXYlFuWEuKI' },
            { title: 'Blinding Lights', interpret: 'The Weeknd', id: '4NRXx6U8ABQ' },

            { title: 'Summertime Sadness', interpret: 'Lana Del Rey', id: 'TdrL3QxjyVw' },
            { title: 'Born To Die', interpret: 'Lana Del Rey', id: 'Bag1gUxuU0g' },
            { title: 'Video Games', interpret: 'Lana Del Rey', id: 'cE6wxDqdOV0' },

            { title: 'Tuesday ft. Danelle Sandoval', interpret: 'Burak Yeter', id: 'Y1_VsyLAGuk' },

            { title: 'Back To Black', interpret: 'Amy Winehouse', id: 'TJAfLE39ZZ8' },

            { title: 'Rolling in the Deep', interpret: 'Adele', id: 'rYEDA3JcQqw' },
            { title: 'Hello', interpret: 'Adele', id: 'YQHsXMglC9A' },
            { title: 'Someone Like You', interpret: 'Adele', id: 'hLQl3WQQoQ0' },

            { title: 'Geiles Leben', interpret: 'Glasperlenspiel', id: 'B3VeqAfVDRc' },

            { title: 'Sugar', interpret: 'Robin Schulz', id: 'bvC_0foemLY' },

            { title: 'Run', interpret: 'Snow Patrol', id: 'AOBs8dU4Pb8' },
            { title: 'Run', interpret: 'Leona Lewis', id: 'jqpAgMxhx30' },

            { title: 'Leave a Light On', interpret: 'Tom Walker', id: 'nqnkBdExjws' },
            { title: 'Another Love', interpret: 'Tom Odell', id: 'MwpMEbgC7DA' },

            { title: 'Believer', interpret: 'Imagine Dragons', id: '7wtfhZwyrcc' },

            { title: 'Wild Love', interpret: 'Rea Garvey', id: 'chL-nVD1G8w' },

            { title: 'The Scientist', interpret: 'Coldplay', id: 'RB-RcX5DS5A' },

            { title: 'Slow It Down', interpret: 'Amy Macdonald', id: 'oGwXzrW5mFc' },

            { title: 'Move in the Right Direction', interpret: 'Gossip', id: '12zPU-8bsTE' },

            { title: 'Prayer In C', interpret: 'Lilly Wood & The Prick and Robin Schulz', id: 'fiore9Z5iUg' },
          ]
        },
      },
      methods: {
        initYtPlayer: function (event) {
          console.log('initYtPlayer() called')

          // https://www.youtube.com/watch?v=XXYlFuWEuKI
          // Change "watch?v=" to "embed/"
          // https://www.youtube.com/embed/XXYlFuWEuKI
          //

          // paste from: https://developers.google.com/youtube/player_parameters
          //
          // Load the IFrame Player API code asynchronously.
          // see function onYouTubePlayerAPIReady()
          //
          if (player === undefined) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          }
        },

        /*
        play2: function (event) {

          // player.playVideo()
          // player.pauseVideo()
          //
          // https://developers.google.com/youtube/iframe_api_reference#loadVideoById

          player = new YT.Player('ytplayer', {
            height: '360',
            width: '640',
            videoId: '4NRXx6U8ABQ',
            playerVars: {
              autoplay: 1,
            }
          }); 

          actualVideoId = '4NRXx6U8ABQ'
          player.loadVideoById(actualVideoId)
        }, */
        onSelectSong: function (selectedItem) {
          console.log('onSelectSong() title=' + selectedItem.title)
          actualVideoId = selectedItem.id
          this.playVideoWithId()
        },
        playVideoWithId: function () {
          player.loadVideoById(actualVideoId)
          console.log('play video with id=' + actualVideoId)
          //player.unMute()
          //player.cueVideoById(actualVideoId)
        }
      },
      mounted: function () {
        console.log('vuejs app mounted')
        this.initYtPlayer()
      },
      vuetify: new Vuetify({
        theme: {
          dark: true,
          themes: {
            dark: {
              primary: '#E6DC09'
            },
          },
        },
      }),
    }).$mount('#app')
  </script>
</body>

</html>
