<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    .mainwin {
      /* from: https://cssgradient.io/
       */
      background: rgb(14,36,51);
      background: linear-gradient(90deg, rgba(14,36,51,1) 0%, rgba(9,87,121,1) 85%);
    }

    h1 {
      color: blue;
    }

    p {
      color: red;
    }

  </style>
  <!--
    <v-main style="background: Coral" class="">
  -->
</head>

<body>
  <div id="app">
    <v-app>
      <v-main class="mainwin">
        <v-container class="white--text">{{pageTitle}}</v-container>
        
        <v-container>
          <v-btn v-on:click="play" color="teal darken-4">Play</v-btn>
          <v-btn v-on:click="play2" color="teal darken-4">Play2</v-btn>
        </v-container>

        <!--
        <iframe width="640" height="360" 
          src="https://www.youtube.com/embed/XXYlFuWEuKI?autoplay=1"
          allow="autoplay">
        </iframe> -->

        <div id="ytplayer"></div>

        <v-container>
          <!--
          <ul id="example-1">
            <li v-for="item in playlist.items" :key="item.title">
              {{ item.title }}
            </li>
          </ul> -->

          <v-list two-line>
            <v-list-item-group
              active-class="pink--text"
            >
              <template v-for="(item, index) in playlist.items">
                <v-list-item :key="item.message" @click="onSelectSong(item)">
                  <template v-slot:default="{ active }">
                    <v-list-item-content>
                      <v-list-item-title v-text="item.title"></v-list-item-title>
      
                      <v-list-item-subtitle
                        class="text--primary"
                        v-text="item.headline"
                      ></v-list-item-subtitle>
      
                      <v-list-item-subtitle v-text="item.interpret"></v-list-item-subtitle>
                    </v-list-item-content>
      
                    <v-list-item-action>
                      <v-list-item-action-text v-text="item.action"></v-list-item-action-text>
                    </v-list-item-action>
                  </template>
                </v-list-item>
      
                <v-divider
                  v-if="index < playlist.items.length - 1"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-container>

      </v-main>
    </v-app>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>

    var player;
    var actualVideoId;

    function onYouTubePlayerAPIReady() {
      
      player = new YT.Player('ytplayer', {
        height: '360',
        width: '640',
        /*
        videoId: 'XXYlFuWEuKI', */
        playerVars: {
          autoplay: 1,
        }
      }); 
    }

    new Vue({
      el: '#app',
      data: { 
        pageTitle: 'MusicBOX',
        playlist: {
          items: [

           { title: 'Save Your Tears', interpret: 'The Weeknd', id: 'XXYlFuWEuKI' },
           { title: 'Blinding Lights', interpret: 'The Weeknd', id: '4NRXx6U8ABQ' },
           /*
           { title: 'Foo-2' },
           { title: 'Foo-3' },
           { title: 'Bar-1' },
           { title: 'Bar-2' },
           { title: 'Bar-3' } */
          ]
        },
      },
      methods: {
        play: function (event) {
          console.log('play() called')

          // https://www.youtube.com/watch?v=XXYlFuWEuKI
          // Change "watch?v=" to "embed/"
          // https://www.youtube.com/embed/XXYlFuWEuKI
          //

          // paste from: https://developers.google.com/youtube/player_parameters
          //
          // Load the IFrame Player API code asynchronously.
          // see function onYouTubePlayerAPIReady()
          //
          if (player === undefined) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          }
        },

        play2: function (event) {

          // player.playVideo()
          // player.pauseVideo()
          //
          // https://developers.google.com/youtube/iframe_api_reference#loadVideoById

          /*
          player = new YT.Player('ytplayer', {
            height: '360',
            width: '640',
            videoId: '4NRXx6U8ABQ',
            playerVars: {
              autoplay: 1,
            }
          }); */

          actualVideoId = '4NRXx6U8ABQ'
          player.loadVideoById(actualVideoId)
        },
        onSelectSong: function (selectedItem) {
          console.log('onSelectSong() title=' + selectedItem.title)
          actualVideoId = selectedItem.id
          player.loadVideoById(actualVideoId)
        }
      },
      vuetify: new Vuetify({
        theme: {
          dark: true,
          themes: {
            dark: {
              primary: '#E6DC09'
            },
          },
        },
      }),
    })
  </script>
</body>

</html>
